.title {
  display: block;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.fieldRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.button {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  fontweight: bold;
  border-color: #ccc;
  background-color: white;
  color: black;
}

.button:hover {
  background-color: var(--mantine-color-red-5);
}

.button.selected {
  border-color: var(--mantine-color-red-9);
  background-color: var(--mantine-color-red-9);
  color: white;
}
